*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    
}
body{
    
    background-color: #121010;
    color: rgb(207, 203, 203);
    width: 100%;
}
 
.header{
    position: relative;
    background-color: #000000;
    
    
} 
nav{
   
    background-color:rgb(0, 0, 0);
    padding-bottom: 30px;

    
}

nav ul li{
    
    display: inline-block ;
    padding: 20px;
    margin-top: 20px;
    list-style: none; 
    margin-left: 40px;
         
}
.detail button{
    position: relative;
    bottom: 150px;
}
nav ul li img{
    width: 40px;
    height: 40px;
}
nav ul li a{
    text-decoration: none;
    font-size: large;
    color: rgb(255, 255, 255);
    padding:10px 20px;
    border-radius: 6%;
    
    
}
nav ul li a:hover{
    color:rgb(255, 0, 0);
    background-color: white;

}
nav ul li h1{
    font-size: xx-large;
    padding-left: 30px;
    padding-right: 250px;
    color: rgb(131, 131, 131);
}.About h1{
    text-align: center;
}
span{
    color: red;
}
.imag img{
    
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    left: 45px;
    
}
.detail button a{
   
    position: absolute;
    left: 680px;
    top: 500px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0077b5;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.detail button a:hover{
color: red;
}

.detail h1 {
    position: absolute;
    left:600px;
    top: 360px;
    
}
.detail p{
    position: absolute;
    top: 430px;
    left: 600px;
    color: grey;
}
.About h1{
    font-size: xx-large;
    padding-bottom: 80px;
    color: rgb(154, 185, 231);
}
.About {
    margin-top: 250px;
    padding-top: 350px;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    
    
}
h6{
    color: #000000;
   
}
.About p{
    font-style: bold;
    font-size: 20px;
    color: rgb(182, 172, 173);
    text-align: left;
    word-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}
.About h3{
    padding: 20px 0px 20px;
    color: rgb(154, 185, 231);
}
.pimg img{
    width: 280px;
    height: 330px;
    border-radius: 5%;
    margin: 40px;
    margin-top: 60px;
    display: inline;
}
.pimg a{
    display: inline-block;
}

.projects h1{
    text-align: center;
    margin: 50px; 
    color: rgb(154, 185, 231); 
}
.pcon{
 position: relative;
 
}
.pcon h2{
    padding: 25px;
    padding-left: 5px;
    position:absolute;
    bottom: 320px;
    left: 350px;
    color: rgb(255, 0, 0);
}
.pcon p{
    position: absolute;
    bottom: 160px;
    left: 350px;
    width: 980px;
    word-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills h1{
    text-align: center;
    margin-top: 60px;margin-bottom: 120px;
    
}
.skills li{
    margin: 35px;
    margin-left: 80px;
    
}

.contacts{
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.contacts h2 {
margin-bottom: 20px;
}
.contacts p {
margin: 5px 0;
padding-top: 8px;
font-size: .9rem;
}
a{
    text-decoration: none;
}
@media (max-width:800px) {
    .imag img{
        position:absolute;
        top: 255px;
        left: 25px;
    }
}